profiles {
    standard {

        process {
            executor = 'local'
            withLabel: 'cpu_tiny' {
                cpus = 2
            }

            withLabel: 'cpu' {
                cpus = 4
            }

            withLabel: 'gpu' {
                cpus = 4
            }
        }
    }


    slurm {

        executor {
            name = 'slurm'
            submitRateLimit = '1 sec'
            queueSize = 50
            retry.maxAttempt = 3
        }

        process {
            withLabel: 'cpu_tiny' {
                cpus = 2
                memory = '2 GB'
                queue = 'several'
                clusterOptions = '--time=00:10:00 --constraint "infiniband"'
            }
            withLabel: 'cpu' {
                cpus = 16
                memory = { 12.GB * task.attempt}
                queue = 'several'
                clusterOptions = '--time=4:00:00 --constraint "infiniband"'
            }
            withLabel: 'gpu' {
                cpus = 12
                memory = '96 GB'
                queue = 'several'
                clusterOptions = '--time=4:00:00 --gres=gpu:a40:1 --constraint "infiniband"'
            }
        }
    }
}
